.cta:hover {
     background-color: var(--ap-primary);
}

.nav-submenu ul li:hover {
    background-color: var(--ap-primary);
    color: white;
}

div.modal-box-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.modal-box-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.modal-box-body {
    border-radius: 20px;
}

div.tham-inner {
    background-color: var(--ap-nav-text);
}

div#logo-wrapper { width: 450px; }
div#logo-wrapper img { height: 72px !important; }
@media (max-width: 639px) {
    div#logo-wrapper { width: 100%; }
    div#logo-wrapper img { height: 48px !important;  }
}

@media (max-width: 767px) {
    div.slide div.hero-title {
        top: 50% !important;
        transform: translateY(-50%);
    }
}

@media (min-width: 768px) {
    div.slide div.hero-title {
        top: 40% !important;
    }
}

.navigation-bg {
    background-color: var(--ap-nav-bg) !important;
}

body.contact-index section.bg-whiter,
body.contact-index section.bg-whiter,
body.news-index section#news-archive,
body.videos-index section#video-archive,
body.news-show .bg-gray-300,
body.team-index section#latest-news,
body.custompagehandler-index section#landing-page,
body.areaguide-index > section.bg-whiter,
body.areaguide-index > section.bg-whiter,
body.career-index > section#careers,
body.valuation-index section#valuation,
body.news-show section#article { padding-top: 6rem; }
body.listings-index section.bg-gray-100 { background-color: transparent; }
section.bg-gray-100:first-of-type { margin-top: 8rem; padding-top: 1rem; }
body.listings-index section.bg-gray-100:first-of-type { margin-top: 3rem !important; padding-top: 1rem; }

.rounded-lg, .rounded-xl, .rounded-2xl, .rounded-3xl, .rounded-full { border-radius: 0.5rem; }
div#fixed-social-tab { border-radius: 0.5rem 0 0 0.5rem; }

@media (max-width: 767px) {
    nav.absolute { min-height: 90px; max-height: 90px; height: 90px; }
    /* div.mobile-menu { background-color: var(--ap-nav-bg); } */
    body.listings-index section.bg-gray-100:first-of-type { padding-top: 1rem; margin-top: 5.5rem; }
}

@media (min-width: 1024px) {
    body.contact-index section.bg-whiter,
    body.contact-index section.bg-whiter,
    body.news-index section#news-archive,
    body.videos-index section#video-archive,
    body.news-show .bg-gray-300,
    body.team-index section#latest-news,
    body.custompagehandler-index section#landing-page,
    body.areaguide-index > section.bg-whiter,
    body.areaguide-index > section.bg-whiter,
    body.career-index > section#careers,
    body.valuation-index section#valuation,
    body.news-show section#article,
    body.instantvaluation-index section#instant-valuation,
    body.instantvaluation-results section#instant-valuation { padding-top: 8rem; }

    .popular-search-location:hover .popular-search-location-item > div {
        bottom: 0 !important;
    }

    div.popular-search-location-item:hover {
        transition: .3s;
        background: var(--ap-primary-transparent) !important;
    }

    #main-nav .mobile-menu {
        background: transparent !important;
    }

    .development-index #home-hero .lg\:rounded-full {
        border-radius: 0.5rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .development-index #home-hero button.lg\:rounded-full {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}

.mobile-menu #auth-button svg circle, .mobile-menu #auth-button svg path {
    fill: var(--ap-nav-text) !important;
}

.property-index .swiper-button-disabled {
    opacity: .5;
}

.property-index .swiper-button-prevBtn svg, .property-index .swiper-button-nextBtn svg {
    filter: drop-shadow( 3px 3px 5px rgba(0, 0, 0, .3));
}

.property-index .bed-bath-info {
    margin-top: .75rem !important;
    margin-bottom: 1rem;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    body.listings-index datalist { width: 24rem !important; }
}

#back-to-listings-button {
    border-radius: 0.5rem;
}

#map-not-available-fallback {
    padding-top: 10rem;
}

/*
-------------------------------------------------------
-------------     Multi Select System     -------------
-------------------------------------------------------
*/

div.multi-property-type-options-list {
    max-height: 6rem;
    overflow-y: auto;
}

body.listings-index div.multi-property-type-options-list span.rounded-sm {
    border: 1px solid var(--ap-primary);
}

/* small */
@media (min-width: 0px) and (max-width: 639px) {

    body.listings-index div.multi-property-type-options-list {
    }

    body.listings-index div.multi-property-type-options-list div {
    }

}

/* medium */
@media (min-width: 640px) and (max-width: 767px) {

}

/* large */
@media (min-width: 768px) and (max-width: 1023px) {

    body.listings-index div.multi-property-type-options-list {
        top: 1.5rem;
        max-height: 12rem;
    }

}

/* XL */
@media (min-width: 1024px) and (max-width: 1535px) {

    body.listings-index div.multi-property-type-options-list {
        position: absolute;
        top: 2.5rem;
        max-height: 12rem;
        width: 24.5rem !important;
    }

}

/* 2XL */
@media (min-width: 1536px) {

    body.listings-index div.multi-property-type-options-list {
        top: 2.5rem;
        max-height: 12rem;
        width: 37rem !important;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}
